/src/week1/task6/4-facemasks/Dataset/
/src/week1/task6/4-facemasks/resnet101v2.h5
/src/week1/task6/4-facemasks/resnet101v2.tflite
/src/week1/task6/5-maskornot/Dataset2/
/src/week1/task6/4-facemasks/model_plot.png
